.signUp_card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* height: 600px; */
  min-width: 500px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 50px 0;
  z-index: 999;
}
.signUp_card .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #3b53a3;
}

#signUpArea {
  margin: 30px auto;
  width: 300px;
  display: flex;
  flex-direction: column;
  font-size: 15px;
}

.signUpInput {
  border: 0;
  border-bottom: 1px solid rgb(223, 223, 223);
  padding: 10px;
  margin: 5px 0;
}

#authRadio {
  display: flex;
  justify-content: space-between;
}

#authRadio > span > input {
  margin: 5px;
}
