* {
  margin: 0;
  padding: 0;
  font-family: "Readex Pro";
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
html {
  height: 100%;
}
body {
  background-color: #f5f8ff;
  position: relative;
  min-height: 100%;
  overflow-x: hidden;
}
body::before {
  content: "";
  position: absolute;
  top: -10%;
  width: 400px;
  height: 600px;
  background: url(./img/bg1.png) no-repeat;
  background-size: 100%;
}
body::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 400px;
  height: 400px;
  background: url(./img/bg2.png) no-repeat;
  background-size: 100%;
}
/* loading 창 */
.loading {
  text-align: center;
  max-width: 247px;
  margin: 50px auto;
}
.loading > p {
  font-size: 10pt;
}
/* 모달창  */
.bgModal {
  position: absolute;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  display: none;
}
.wh-Modal {
  transition: all 0.5s;
  min-width: 330px;
  background-color: #e9efff;

  border-radius: 10px;
  position: fixed;
  padding: 10px 30px;
  left: 50%;
  top: 20%;
  margin-left: -190px;
}
.wh-Modal #closeBtn {
  display: block;
  position: absolute;
  right: 10px;
  margin-top: 10px;
}
.wh-Modal form,
.wh-Modal > div {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 50px 0;
}
/* 팝업 미니 아이콘 */
.popUpIcon {
  position: fixed;
  right: 50px;
  bottom: 10%;
  z-index: 9;
  box-shadow: 0px 3px 10px 1px #777fa0;
  border-radius: 50%;
  background-color: #3b53a3;
  box-sizing: border-box;
  padding-top: 2px;
  text-align: center;
  font-size: 30px;
  width: 50px;
  height: 50px;
  color: white;
  transition: all 1s;
  cursor: pointer;
}
/* 팝업 */
.popUp {
  transition: all 0.5s;
  max-width: 380px;
  height: 500px;
  right: 40px;
  top: 10%;
  background-color: #e9efff;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 30px;

  position: fixed;
  z-index: 9;
  box-shadow: 0px 3px 10px 1px #ddd;
}
.popUp-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 20px 0;
}
textarea {
  border: 2px solid #3b53a3;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 10px;
  resize: none;
}
.popUp-div h1 {
  color: #3b53a3;
}
.popUp-div p {
  margin-left: 60px;
  color: #a4a4a4;
}
div.buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
div.buttons input {
  border: none;
  box-sizing: border-box;
  padding: 5px 10px;
  margin-left: 10px;
  font-size: 13px;
  color: white;
  display: inline-block;
}
div.buttons .cancellation {
  background-color: #4f4f4f;
}
div.buttons .posting {
  background-color: blue;
}
.login-box {
  display: flex;
  justify-content: space-between;
}
.login-box a {
  font-size: 14px;
  padding: 10px 0;
  border-bottom: 1px solid #f5f8ff;
  border-top: 1px solid #f5f8ff;
  color: #a4a4a4;
  transition: all 0.5s;
  margin: 0 8px;
}
.login-box a:hover {
  color: #3b53a3;
  border-bottom: 1px solid #3b53a3;
  border-top: 1px solid #3b53a3;
}
/* 세션 공통  */
section {
  max-width: 950px;
  margin: 0 auto;
  padding: 25px 0;
  box-sizing: border-box;
  position: relative;
  z-index: 3;
}
/* 메인 */
.main {
  box-sizing: border-box;
  padding: 50px 20px 0;
}
.main img {
  margin-left: 30px;
}
.main h1 {
  color: #7895e1;
  font-size: 70px;
  letter-spacing: -2px;
  line-height: 80px;
}
/* 공지  */
.alarm {
  max-width: 900px;
}
.alarm div {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background-color: #e9efff;
  box-sizing: border-box;
  padding: 0 30px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.close {
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  background: url(./img/close.png) no-repeat center;
}
.alarm div > span {
  display: flex;
  align-items: center;
}
.alarm-icon {
  width: 30px;
  height: 30px;
  background: url(./img/alarm.png) no-repeat center;
}
.alarm div > span p {
  font-size: 15px;
  padding-left: 30px;
}
/* 포토 */
.posts {
  display: flex;
  flex-wrap: wrap;
  padding-left: 15px;
}
.posts .post {
  width: 280px;
  background-color: white;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px;
  margin: 15px;
}
.posts .post > p {
  font-size: 13px;
  color: #898888;
  display: flex;
  justify-content: space-between;
}
.posts .post > h1 {
  font-size: 20px;
  margin: 20px 0;
}
.posts .post span {
  position: relative;
}
/* 동그라미 */
.posts .post span::before {
  position: absolute;
  right: 0;
  /* top: 5px; */
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #cef2ce;
}
.posts .post > div {
  display: flex;
  justify-content: flex-end;
}
.posts .post > div button {
  font-size: 13px;
  margin-left: 10px;
  border: none;
  cursor: pointer;
  background: none;
  display: flex;
  align-items: center;
}
.posts .post > div button svg {
  max-width: 15px;
  margin-right: 5px;
}
.posts .post > div button:nth-child(1):hover {
  color: blue;
}
.posts .res {
  background: #c7cdfb;
  padding: 10px 20px;
  border: none;
  margin-top: 30px;
  cursor: pointer;
}
/* 페이지 버튼 */
.pages {
  text-align: center;
}
.pages button {
  background: none;
  border: none;
  font-size: 15px;
  font-weight: bold;
  padding: 0 10px;
  cursor: pointer;
}
/* 푸터 */
.footer {
  display: flex;
  justify-content: center;
  /* margin: 50px auto; */
}
